
<div id={{id}}-inner" class="banner-inner">
	<ul id="{{id}}-actions" class="banner-actions">
		<li>
			<a id="{{id}}-thickbox" href="{{upload_iframe_src}}" title="Attachments" class="soil-upload-button button button-highlighted" metabox_id="{{id}}" upload_handler="{{upload_handler}}" metabox_type="{{metabox_type}}">Attach New Image(s)</a>
		</li>
	</ul>

	<div id="{{id}}-list" class="banner-list" style="border-top: 1ps solid #eee;">

		<ul class="soil-sortable">
		
			{{#attachments}}
			<li class="attachments-file soil-multirow">
			
				<!-- // Attachment Handle -->
				<h2>
					<a href="#" class="soil-sortable-handle attachment-handle">
						<span class="attachment-handle-icon"><img src="{{sort_handle_src}}" alt="Drag" /></span>
					</a>
					<span class="attachment-name">{{attachment_name}}</span>
					<span class="attachment-delete"><a href="#">Delete</a></span>
				</h2>					
					
				<div class="attachments-fields">
				
					<!-- // Attachment Title -->
					<div class="textfield" id="field_{{id}}_title_{{attachment_count}}">
						<label for="{{id}}_title_{{attachment_count}}">Title</label>
						<input type="text" id="{{id}}_title_{{attachment_count}}" class="soil-multiple" name="{{id}}[{{attachment_count}}][title]" value="{{attachment_title}}" size="20" />
					</div>
				
					<!-- // Attachment Caption -->
					<div class="textfield" id="field_{{id}}_caption_{{attachment_count}}">
						<label for="{{id}}_caption_{{attachment_count}}">Caption</label>
						<input type="text" id="{{id}}_caption_{{attachment_count}}" class="soil-multiple" name="{{id}}[{{attachment_count}}][caption]" value="{{{attachment_caption}}}" size="20" />
					</div>								
				
					<!-- // Attachment Content -->
					<div class="textfield" id="field_{{id}}_content_{{attachment_count}}">
						<label for="{{id}}_content_{{attachment_count}}">Content</label>
						<textarea name="{{id}}[{{attachment_count}}][content]" class="soil-multiple" id="{{id}}_content_{{attachment_count}}">{{{attachment_content}}}</textarea>
					</div>
				
					<!-- // Attachment Link -->
					<div class="textfield" id="field_{{id}}_link_{{attachment_count}}">
						<label for="{{id}}_link_{{attachment_count}}">Link</label>
						<input type="text" id="{{id}}_link_{{attachment_count}}" class="soil-multiple" name="{{id}}[{{attachment_count}}][link]" value="{{{attachment_link}}}" size="20" />
					</div>
				
				</div>
				
				<!-- // Attachment Thumb -->
				<div class="attachment-thumbnail">
					{{{attachment_thumb}}}
				</div>
				
				<!-- // Attachment Data -->
				<div class="attachments-data">
					<input type="hidden" name="{{id}}[{{attachment_count}}][id]" class="soil-multiple" id="{{id}}_id_{{attachment_count}}" value="{{{attachment_id}}}" />
<!-- 					<input type="hidden" class="attachment_order" name="attachment_order_{{attachment_count}}" id="{{id}}_order_{{attachment_count}}" value="{{{attachment_count}}}" /> -->
				</div>							
			
			</li>
			{{/attachments}}

	  </ul>

	</div>
	
</div>								
