<ul class='soil-faq soil-sortable'>

	{{#faqs}}
	<li class='soil-multirow' style='border-bottom:1px solid #E9E9E9;'>		
		<b>Question:</b> <br />
		<input type='text' class='{{q_class}} soil-multiple' name='{{q_name}}' id='{{q_id}}' value='{{{q_value}}}' size='{{q_size}}' />
		<a href='javascript:void(0);' class='button-secondary soil-faq-delete'>Delete</a>
		<br />
		<b>Answer:</b> <br />
		<textarea class="soil-multiple" name="{{a_name}}" id="{{a_id}}" cols="60" rows="3">{{{a_value}}}</textarea>
		<br /><br />
	</li>
	{{/faqs}}

</ul>
<a href='javascript:void(0);' class='button-secondary soil-faq-add'>Add New Item</a>
