<input id="{{id}}" type="text" size="45" class="{{id}}" name="{{id}}" value="{{{meta}}}" />
<!-- <input class="soil-upload-button button" type="button" metabox_id="{{id}}" upload_handler="{{upload_handler}}" metabox_type="{{metabox_type}}" value="Upload File" /> -->
<a href='{{upload_iframe_src}}' class='soil-upload-button button button-highlighted button-primary' rel='{{rel}}' metabox_id='{{id}}' upload_handler='{{upload_handler}}' metabox_type='{{metabox_type}}'>Upload File</a>

<div id="{{id}}_status" class="cmb_upload_status">			

	{{#image}}
	<div class="img_status">
		<a href="{{{meta}}}">
			<img src="{{{meta}}}" alt="" />
		</a>
		<a href="javascript:void(0);" class="remove_file_button" rel="{{id}}">Remove Image</a>
	</div>
	{{/image}}


	{{#file}}
	File:
	<strong>{{file_title}}</strong> <a href="{{{meta}}}" target="_blank" rel="external">Download</a> / <a href="#" class="remove_file_button" rel="{{id}}">Remove</a>
	{{/file}}

</div>