<ul class='soil-tab soil-sortable' id="p2p_{{id}}">

	{{#p2ps}}
	<li class='soil-multirow' style='border-bottom:1px solid #E9E9E9;margin-bottom:15px;'>
		<b>Post:</b> <!-- TODO: post type here -->
		<input type='text' class='{{title_class}} soil-multiple' name='{{title_name}}' id='{{title_id}}' value='{{title_value}}' size='{{title_size}}' autocomplete_source="{{jsvar}}" />
		<input type='hidden' name='{{postid_name}}' class='soil-multiple' id='{{postid_id}}' value='{{postid_value}}' />
		<a href='javascript:void(0);' class='button-secondary soil-multirow-delete'>Delete</a>
	</li>
	{{/p2ps}}

</ul>
<br><a href='javascript:void(0);' class='button-primary soil-multirow-add'>Add New Item</a><br><br>
