<ul class='soil-tab soil-sortable'>

	{{#tabs}}
	<li class='soil-multirow' style='border-bottom:1px solid #E9E9E9;margin-bottom:15px;'>
		<b>Tab Title:</b> <br />
		<input type='text' class='{{tab_class}} soil-multiple' name='{{tab_name}}' id='{{tab_id}}' value='{{tab_value}}' size='{{tab_size}}' />
		<a href='javascript:void(0);' class='button-secondary soil-tab-delete'>Delete Tab</a>
		<br /><br />
		<b>Tab Content:</b> <br />
		<div class="customTabbedEditor">
			<textarea name="{{content_name}}" class="soil-multiple" id="{{content_id}}" cols="60" rows="3">{{{content_value}}}</textarea>
		</div>
	</li>
	{{/tabs}}

</ul>
<br><a href='javascript:void(0);' class='button-primary soil-tab-add'>Add New Tab</a><br><br>
