<div class="video-js-box">
	<video class="video-js" width="{{width}}" height="{{height}}" {{poster_attribute}} controls {{preload_attribute}} {{autoplay_attribute}}>
		{{mp4_source}}
		{{webm_source}}
		{{ogg_source}}
		<!-- Flash Fallback. Use any flash video player here. Make sure to keep the vjs-flash-fallback class. -->
		<object class="vjs-flash-fallback" width="{{width}}" height="{{height}}" type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf">
			<param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" />
			<param name="allowfullscreen" value="true" />
			<param name="flashvars" value='config={"playlist":[{{flow_player_poster}}{"url": "{{mp4}}" {{flow_player_autoplay}} {{flow_player_preload}} }]}' />
			{{image_fallback}}
		</object>
	</video>
</div>