/* =============================================================================
   Base
   ========================================================================== */

body { font-family: "proxima-nova", sans-serif; background: #eee url(../img/bg-body.png); }
p, ul, ol, dl, input, select, textarea { font-family: "proxima-nova", sans-serif; }
p, ul, ol, dl, address { font-size: 15px; margin-bottom: 12px; }
input, textarea, select, .uneditable-input { font-size: 15px; line-height: 20px; }
select, input[type="file"] { height: 34px; }
.accordion-heading { font-size: 15px; font-weight: 700; }
p, li, address { line-height: 20px; }
blockquote p small { line-height: 18px; font-size: 15px; }

a:hover { text-decoration: none; }

h2 { line-height: 25px; margin-bottom: 12px; }
h3 { line-height: 22px; margin-bottom: 6px; }
h4 { font-size: 16px; }
h4, h5, h6 { line-height: 20px; }

.group:before, .group:after { content: ""; display: table; }
.group:after { clear: both; }
.group { *zoom: 1; }

.accordion-group { margin-bottom: 6px; }
.accordion-heading .accordion-toggle {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#FCEFF1));
  background-image: -webkit-linear-gradient(top, #ffffff, #FCEFF1);
  background-image:    -moz-linear-gradient(top, #ffffff, #FCEFF1);
  background-image:      -o-linear-gradient(top, #ffffff, #FCEFF1);
  background-image:         linear-gradient(to bottom, #ffffff, #FCEFF1);
  background-repeat: repeat-x;
  padding: 12px 15px;
  font-size: 16px;
}

.thumbnail { margin-bottom: 12px; }
ul.thumbnails .thumbnail { margin-bottom: 0; }
.thumbnail p:last-child { margin-bottom: 0; }

.alert p:last-child,
.well p:last-child { margin-bottom: 0; }



/* =============================================================================
   Header
   ========================================================================== */

#banner-wrap { margin: -21px -21px 0; border: 1px solid #000; }
#banner { position: relative; }
#banner .container { padding: 0 20px; background: #000; }
#banner .row { position: relative; }

.brand {
  float: left;
  text-indent: -9999px;
  background: url(../img/logo-140.png) no-repeat;
  width: 140px;
  height: 153px;
  margin: 16px 0;
  *padding-bottom: 16px;
}

#nav-main { float: right; margin-top: 59px; *width: 100%; }
#nav-main ul { *float: right; *width: 100%; list-style: none; margin: 0; padding: 0; font-size: 23px; }
#nav-main li { float: left; position: relative; }
#nav-main li a { float: left; display: block; padding: 8px 15px; color: #fff; font-weight: 700; text-transform: uppercase; }
#nav-main li a:hover,
#nav-main li.active a,
#nav-main li.current-page-ancestor a { color: #007EB3; }
#nav-main li.menu-dvds a,
#nav-main li.menu-faqs a { text-transform: none; }

body.type-fyr_faq           #nav-main li.menu-blog a,
body.type-fyr_success_story #nav-main li.menu-blog a,
body.tax-fyr_faq_categories #nav-main li.menu-blog a { color: #fff; }
body.type-fyr_faq           #nav-main li.menu-blog a:hover,
body.type-fyr_success_story #nav-main li.menu-blog a:hover,
body.tax-fyr_faq_categories #nav-main li.menu-blog a:hover { color: #007EB3; }

body.single-fyr_success_story #nav-main li.menu-success-stories a,
body.single-fyr_faq           #nav-main li.menu-faqs a,
body.tax-fyr_faq_categories   #nav-main li.menu-faqs a { color: #007EB3; }

#nav-main select { display: none; }

#nav-utility { float: right; margin-top: 16px; }
#nav-utility ul { list-style: none; margin: 0; padding: 0; }
#nav-utility li { float: left; position: relative; margin: 5px 0 0 12px; }
#nav-utility li:first-child { margin-left: 0; }
#nav-utility li a { float: left; display: block; }

#nav-utility li.menu-twitter iframe { width: 157px !important; }
#nav-utility li.menu-search { margin: 0 0 0 45px; }

#nav-utility #searchform label { display: none; }
#nav-utility #searchform #s {
  width: 150px;
  height: 18px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#nav-utility #searchform #searchsubmit {
  height: 28px;
  margin-left: -5px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 14px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 14px;
  border-top-left-radius: 0;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 14px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
}



/* =============================================================================
   Content
   ========================================================================== */

#content { padding-top: 20px; }

#wrap {
  background: #fff;
  padding: 20px;
  *padding-top: 14px;
  border: 1px solid #e9e9e9;
  border-top: none;
  border-bottom: none;
  box-shadow: 0 0 13px 2px rgba(0, 0, 0, 0.25);
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}



/* =============================================================================
   Primary Content
   ========================================================================== */

#main { }

/* Content Slider */
#content-slider-wrap { margin: 0 -21px; }
#content-slider { position: relative; }
#content-slider .slides li { height: auto; position: relative; overflow: hidden; }
#content-slider .slides li img { margin: -9% 0; }
.flexslider { margin: 0; padding: 0; }
.flexslider ul { list-style: none; margin: 0; padding: 0; }
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
.flexslider .slides img { max-width: 100%; display: block; }
.no-js .slides > li:first-child { display: block; }

.flexslider .slides { zoom: 1; }
.flexslider .slides > li { position: relative; }

.flexslider .caption {
  width: 100%;
  padding: 20px 0 50px;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  background: url(../img/black-60.png);
}
.flexslider .caption a { color: #fff; }
.flexslider .caption h2 { padding: 0 20px; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); }
.flexslider .caption p {
  padding: 0 20px;
  margin: 0;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  font-size: 16px;
  line-height: 20px;
}

.flex-control-nav { margin: 0; padding: 0; width: 100%; position: absolute; bottom: 18px; text-align: center; }
.flex-control-nav li { margin: 0 0 0 8px; display: inline-block; zoom: 1; *display: inline; }
.flex-control-nav li:first-child { margin: 0; }
.flex-control-nav li a { width: 16px; height: 16px; display: block; background: #007EB3; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 16px; border-radius: 16px; }
.flex-control-nav li a:hover { background: #fff; }
.flex-control-nav li a.active { background: #fff; cursor: default; }

/* Home Page */
#main section { margin-bottom: 24px; }
#main section h2 { margin-bottom: 2px; }

#main #faqs h2 { margin-bottom: 18px; }
#faq-accordion .accordion-heading,
#faq-accordion .accordion-toggle { font-size: 18px; }
#faq-accordion .accordion-toggle img { margin-right: 8px; vertical-align: middle; max-width: 30px; }
#faq-accordion .accordion-toggle b { display: inline-block; vertical-align: middle; }
#faq-accordion p { margin: 0; }

#main #shop h2 { margin-bottom: 12px; }

#main #action { margin-bottom: 32px; }

#loop .group { margin-bottom: 16px; }
#loop .type-fyr_faq h4 { text-transform: none; }
#loop h3 { font-size: 24px; line-height: 26px; }
#loop #loop-faq h2 { text-transform: none; }
#loop .entry-thumbnail { float: left; margin: 0 16px 16px 0; width: 180px; height: 140px; }
#loop .entry-content { overflow: hidden; }

#main #donate,
#main #donate .well { margin-bottom: 0; }
#main #donate h2 a { color: #468847; }
#main #donate h2 a:hover { color: #5ebb5e; }

/* About Pages */
body.parent-pageid-344 #main .group { margin-bottom: 24px; }

/* Shop */
body.page-id-359 #main .product { margin-bottom: 24px; }
body.page-id-359 #main .product .span2 { position: relative; }
body.page-id-359 #main .product .span2 img.first,
body.page-id-359 #main .product .span2 img.last { max-width: 53%; }
body.page-id-359 #main .product .span2 img.last {
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.95);
  -webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.95);
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.95);
}
iframe.shopify-widget { margin-bottom: 8px; }
body.page-id-359 #main .product p.price { margin: -8px 0 6px 0; font-weight: 400; }

#main .buy-now { text-align: center; padding: 12px; margin: 18px 0; clear: both; }
#main .span2 .buy-now { margin: 0 0 18px 0; }
#main p.shopify { margin: 4px 0 0 0; }
#main p.shopify iframe.shopify-widget { margin-bottom: 0; }
#main p.price { margin-bottom: 0; font-weight: 700; margin-top: 6px; }

body.page-id-359 #sidebar .widget_follow,
body.page-id-359 #sidebar .widget_recent_entries,
body.page-id-50 #sidebar .widget_follow,
body.page-id-50 #sidebar .widget_recent_entries,
body.page-id-4 #sidebar .widget_follow,
body.page-id-4 #sidebar .widget_recent_entries { display: none; }

/* Forms */
.gform_wrapper ul { list-style: none; margin: 0; padding: 0; }
.gform_wrapper .gfield_label { font-size: 15px; font-weight: 700; }

.gform_wrapper input,
.gform_wrapper textarea,
.gform_wrapper select {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 6px 4px;
}

.gform_wrapper select { width: 240px; }

.gform_wrapper textarea { width: 98%; }

.gform_wrapper .gfield_error input,
.gform_wrapper .gfield_error textarea {
  background-color: #F2DEDE;
  border-color: #EED3D7;
  color: #B94A48;
}
.gfield_required { color: #B94A48; padding-left: 3px; }

.gform_wrapper .gfield_radio:before, .gform_wrapper .gfield_radio:after,
.gform_wrapper .gfield_checkbox:before, .gform_wrapper .gfield_checkbox:after { content: ""; display: table; }
.gform_wrapper .gfield_radio:after,
.gform_wrapper .gfield_checkbox:after { clear: both; }
.gform_wrapper .gfield_radio,
.gform_wrapper .gfield_checkbox { *zoom: 1; margin-bottom: 6px; }
.gform_wrapper .gfield_radio li,
.gform_wrapper .gfield_checkbox li { float: left; margin-left: 20px; }
.gform_wrapper .gfield_radio li:first-child,
.gform_wrapper .gfield_checkbox li:first-child { margin-left: 0; }
.gform_wrapper .gfield_radio input,
.gform_wrapper .gfield_checkbox input,
.gform_wrapper .gfield_radio label,
.gform_wrapper .gfield_checkbox label { display: inline-block; }
.gform_wrapper .gfield_radio label,
.gform_wrapper .gfield_checkbox label { margin-left: 6px; }

.gform_wrapper li.gfield_html_formatted { margin: 18px 0; }

.gform_wrapper li.half { float: left; width: 300px; }
.gform_wrapper li.last { float: right; }
.gform_wrapper li.clear { clear: both; }

.gform_wrapper li.half input { width: 290px; }
.gform_wrapper li.full textarea { width: 610px; }

.gform_footer { margin-top: 12px; }
.gform_footer .button {
  margin: 0;
  display: inline-block;
  padding: 6px 14px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
}

.gform_wrapper .validation_message { display: none; }



/* =============================================================================
   Sidebar
   ========================================================================== */

#sidebar { }
#sidebar .widget { margin-bottom: 24px; }

#sidebar .widget_follow { overflow: hidden; }

/* Donate Widget */
#sidebar .widget_donate h3 { display: none; }

/* Subpages Widget */
#sidebar .widget_subpages { }
#sidebar .widget_subpages h3 { display: none; }
#sidebar .widget_subpages ul { list-style: none; margin: 0; padding: 0; font-size: 18px; }
#sidebar .widget_subpages ul li { line-height: 24px; border-top: 1px solid #E5E5E5; background: #D9EDF7; }
#sidebar .widget_subpages ul li:first-child { border-top: none; }
#sidebar .widget_subpages ul a { font-weight: 700; display: block; padding: 6px 12px; }

#sidebar .widget_subpages ul li.current_page_item,
#sidebar .widget_subpages ul li.current_page_ancestor,
#sidebar .widget_subpages ul li.current_page_ancestor li.current_page_item { background: #E5E5E5; }
#sidebar .widget_subpages ul li.current_page_item li,
#sidebar .widget_subpages ul li.current_page_ancestor li { background: #fff; }


#sidebar .widget_subpages ul.subpages { border: 1px solid #E5E5E5; -webkit-border-radius: 4px; border-radius: 4px; }

#sidebar .widget_subpages ul.children { border-top: 1px solid #E5E5E5; font-size: 14px; }
#sidebar .widget_subpages ul.children li { background: #fff; }
#sidebar .widget_subpages ul.children a { font-weight: 400; padding: 3px 12px; }

/* Twitter.com <iframe> Widget */
#sidebar .twtr-widget p { font-size: 13px; line-height: 16px; margin-bottom: 9px; }



/* =============================================================================
   Posts
   ========================================================================== */

.category-description { margin-bottom: 30px; }
body.archive .hentry,
body.blog .hentry { margin-bottom: 38px; }
.hentry header { margin-bottom: 16px; }
.hentry header h4 { text-transform: uppercase; font-size: 18px; margin-bottom: 4px; }
.hentry header h4 a { color: #333; }
.hentry header h4 a:hover { color: #007eb3; }
.page-header h1.entry-title { margin-bottom: 6px; }
.hentry h2 { margin-bottom: 4px; }
.hentry h2 a { text-decoration: none; }
.hentry time { display: block; font-size: 14px; line-height: 16px; }
.hentry p.byline { font-size: 14px; line-height: 16px; }
.hentry .share-container { clear: both; zoom: 1; width: 100%; }
.hentry .share-container:before, .hentry .share-container:after { content: ''; display: table; }
.hentry .share-container:after { clear: both; }
.hentry .share-container .share { float: left; display: inline; height: 20px; }
.hentry .share-container .share-stumpleupon { width: 110px; height: 18px; margin-top: 1px; }
.hentry .share-container .share-reddit { width: 100px; height: 18px; margin-top: 2px; }
.hentry footer { clear: both; }

.video-wrap { margin-bottom: 12px; }

.loop-5 { margin: 24px 0; overflow: hidden; }

/* Post/Page Navigation */
.wp-pagenavi { clear: both; margin: 20px 0; }
.wp-pagenavi a, .wp-pagenavi span { text-decoration: none; border: 1px solid #E5E5E5; padding: 3px 5px; margin: 2px; }
.wp-pagenavi a:hover, .wp-pagenavi span.current { border-color: #eee; }
.wp-pagenavi span.current { font-weight: 700; }




/* =============================================================================
   Post Comments
   ========================================================================== */

#comments, #respond, #submit { clear: both; display: block; }
#disqus_thread a.dsq-subscribe-email em, #disqus_thread a.dsq-subscribe-rss em { text-decoration: none; }



/* =============================================================================
   Footer
   ========================================================================== */

#content-info { padding: 20px; }

#content-info a { color: #005580; }
#content-info a:hover { color: #007eb3; }
#content-info a.btn { color: #fff; }
#content-info p small { font-size: 13px; color: #333; }
#content-info p small b { padding-left: 5px; }

#content-info #nav-footer li.active a { color: #005580; background: none; }
#content-info #nav-footer li.active a:hover { color: #007eb3; background: #eee; }

#content-info .newsletter { clear: both; background: #D9D9D9; background: rgba(217, 217, 217, 0.4); }
#content-info .newsletter form { text-align: left; margin-bottom: 6px; }
#content-info .newsletter .gform_body { float: left; margin-right: 6px; }
#content-info .newsletter .gform_body input { padding: 7px 6px; }
#content-info .newsletter label { display: none; }
#content-info .newsletter .gform_footer input { *margin-top: -8px; }

#content-info ul.social { list-style: none; margin: 0 0 16px 0; float: right; margin-right: -5px; }
#content-info ul.social li { display: inline; }
#content-info ul.social a { display: inline-block; padding: 0 5px; }

#content-info p.donate { text-align: right; margin-bottom: 16px; }



/* =============================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { margin: 0 20px 20px 0; float: left; }
.alignright { margin: 0 0 20px 20px; float: right; }



/* =============================================================================
   Media Queries
   ========================================================================== */

@media (min-width: 1024px) {
  #content-slider-wrap { width: 982px; }
}

@media (max-width: 1023px) {
  #content-slider-wrap { padding: 0; border: none; }
}

@media (max-width: 979px) {
  #content-slider-wrap { padding: 0; }
  body.home #wrap { padding-top: 20px; }

  #nav-main { margin-top: 72px; }
  #nav-main ul { font-size: 18px; }
  #nav-main li a { padding: 8px 10px; }
  #nav-main li.menu-home { display: none; }

  #nav-utility li.menu-search {
    position: absolute;
    top: 56px;
    right: 0;
    width: 48%;
  }
  #nav-utility li.menu-search form { float: right; }

  #content-slider .slides li { height: auto; }
}

@media (max-width: 979px) and (min-width: 768px) {
/*  #banner .brand { background: url(../img/logo-tablet.png) no-repeat; width: 166px; height: 182px; }*/

  body.home #main { width: 724px; }
  body.home #main #donate { margin-bottom: 30px; }
  body.home #sidebar { float: none; width: 724px; }
  body.home #sidebar .widget { float: left; margin-left: 20px; }
  body.home #sidebar .widget:first-child { margin-left: 0; }
  body.home #sidebar .widget:nth-child(3n) { clear: both; margin-left: 0; }
}

@media (max-width: 767px) {
  body { padding: 0; }
  #banner-wrap .brand { float: none; display: block; text-align: center; margin: 16px auto 0; }
  #banner .row { padding: 0 20px; }

  #wrap {
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  #nav-main { clear: both; margin-top: 16px; width: 48%; position: relative; float: left; }
  #nav-main ul { display: none; }
  #nav-main select { display: inline-block; margin-bottom: 16px; width: 100%; height: 28px; }

  #nav-utility { float: none; display: inline-block; text-align: center; width: 100%; }
  #nav-utility li { display: inline-block; float: none; }
  #nav-utility li.menu-search {
    top: auto;
    right: 0;
    bottom: -3px;
    width: 48%;
  }
  #nav-utility li.menu-search form { float: right; }
  #nav-utility #searchform #s { width: 40%; }

  #main { padding: 0 10px; }

  #main #shop .span4 { float: right; width: 48%; }
  #main #shop .span4:first-child { float: left; width: 48%; }

  /* About Us Pages */
  body.parent-pageid-344 #main .span2 img,
  body.grandparent-pageid-344 #main .span2 img { float: left; max-width: 140px; margin: 0 20px 20px 0; }

  /* Shop */
  body.page-id-359 #main .span2 img { float: left; max-width: 140px; margin: 0 20px 20px 0; }
  body.page-id-359 #main .bundle .span2 { float: left; width: 140px; margin: 0 20px 20px 0; }
  body.page-id-359 #main .bundle .span2 img.first,
  body.page-id-359 #main .bundle .span2 img.last { max-width: 90px; margin-right: 0; }
  body.page-id-359 #main .bundle .span6 p { overflow: hidden;}

  #main .testimonial .span1 img { float: left; max-width: 62px; margin: 0 20px 20px 0; }
  #main .testimonial .span7 { overflow: hidden; }

  #sidebar { margin-top: 30px; padding: 0 10px; }


  #content-info { padding: 10px; text-align: center; }
  #content-info #nav-footer { display: inline-block; }
  #content-info #nav-footer ul { text-align: center; display: inline; }
  #content-info #nav-footer a { float: none; display: inline-block; }
  #content-info p.donate { text-align: center; }
  #content-info ul.social { text-align: center; display: inline; float: none; margin: 0 0 16px 0; }
}

@media (min-width: 768px) and (max-width: 979px) {

}

@media (max-width: 480px) {
  #wrap, body.home #wrap { padding: 0; }
  #banner-wrap { margin: 0 -1px; }

  #content-slider-wrap { margin: 0 -1px; }
  #content-slider .slides li img { margin: -3% 0; }
  .flexslider .caption { padding: 10px 0 40px; }
  .flexslider .caption h2 { margin-bottom: 0; font-size: 20px; line-height: 20px; padding: 0 10px; }
  .flexslider .caption p { display: none; }
  .flex-control-nav { bottom: 9px; }

  #loop h2, #loop h3 { text-align: center; }
  #loop .entry-thumbnail { float: none; display: block; margin: 0 auto 6px; text-align: center; }
  #loop .entry-content { display: none; }

  body.home .hentry .share-container,
  body.blog .hentry .share-container,
  body.archive .hentry .share-container { display: none; }
  body.single .hentry .share-container .share { margin-bottom: 8px; float: none; }
  body.single .hentry .share-container .share-reddit { float: left; }

  .gform_wrapper textarea { width: 95%; }

  #sidebar .widget { float: none; margin-left: 0; }

  #content-info { margin: 0 -1px; border: none; }
}